In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import plot_tree

%matplotlib inline
sns.set(rc={"figure.figsize": (10, 7)})

In [2]:
data = pd.read_csv("https://stepik.org/media/attachments/course/4852/songs.csv")

In [3]:
data.head()

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
0,the-ownerz,2007,gangstarr,Hip-Hop,"""One-two..""\n""One-two, shots to the chin.. kno...",1300,24,5,0,11
1,dead-sound-of-misery,2006,blind-guardian,Metal,It's dark\nLet's do it now\nBring in the siren...,1566,0,0,0,0
2,modred-s-song,2006,blind-guardian,Metal,I've lost my battle before it starts\nmy first...,996,1,0,1,0
3,the-ninth-wave,2015,blind-guardian,Metal,As dark night embraces\nWe are the nation\nI w...,2868,5,0,0,0
4,skills,2014,gangstarr,Hip-Hop,"Skills, skills, skills\n""My Microphone""\n""It's...",3351,22,0,0,3

In [4]:
data = data.drop(columns=["song", "lyrics"])
data.head()

,year,artist,genre,length,commas,exclamations,colons,hyphens
0,2007,gangstarr,Hip-Hop,1300,24,5,0,11
1,2006,blind-guardian,Metal,1566,0,0,0,0
2,2006,blind-guardian,Metal,996,1,0,1,0
3,2015,blind-guardian,Metal,2868,5,0,0,0
4,2014,gangstarr,Hip-Hop,3351,22,0,0,3

In [5]:
data["genre"].unique()

array(['Hip-Hop', 'Metal', 'Pop'], dtype=object)

In [6]:
d = {"gangstarr": 0,
     "blind-guardian": 1,
     "abba": 2}

data["artist"] = data["artist"].map(d)
data.head()

   year  artist    genre  length  commas  exclamations  colons  hyphens
0  2007       0  Hip-Hop    1300      24             5       0       11
1  2006       1    Metal    1566       0             0       0        0
2  2006       1    Metal     996       1             0       1        0
3  2015       1    Metal    2868       5             0       0        0
4  2014       0  Hip-Hop    3351      22             0       0        3

In [7]:
data = pd.get_dummies(data, drop_first=True)
data

,year,artist,length,commas,exclamations,colons,hyphens,genre_Metal,genre_Pop
0,2007,0,1300,24,5,0,11,0,0
1,2006,1,1566,0,0,0,0,1,0
2,2006,1,996,1,0,1,0,1,0
3,2015,1,2868,5,0,0,0,1,0
4,2014,0,3351,22,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...
355,2006,2,972,2,0,0,1,0,1
356,1995,2,1283,33,0,0,3,0,1
357,1981,2,810,1,0,0,0,0,1
358,2006,0,1996,34,0,0,5,0,0
359,2001,2,991,8,0,0,0,0,1